{% extends "::template.html.twig" %}


{% block body %}




    <h3> créer un article </h3>
    <div class="form-group">
  <label for="sel1">Catégories</label>
  <select class="form-control" id="sel1">
    <option>Football</option>
    <option>Rugby</option>
    <option>Tennis</option>
    <option>eSport</option>
  </select>
  
</div>
    
                            <button type="submit" class="btn">Ajout photo</button>
                          <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Titre de l'article
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                            
                            <!-- Comments Form -->
                <div class="well">
                    <h4>Texte de l'article:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyez</button>
                        <button type="submit" class="btn btn-primary">Brouillon</button>
                    </form>
                </div>

                <hr>







    
{% endblock %}
