{% extends "::template.html.twig" %}


{% block body %}



    <div class="container-fluid">
        <div class="row">
            <h1> Mes articles sauvegardés </h1>
            <div class="col-sm-4"><img class="img-responsive" src="http://www.ouest-france.fr/sites/default/files/styles/image-640x360/public/2016/08/14/peronne-cup-du-beau-football-devant-plus-de-300-personnes-verson.jpg?itok=TIdEr4ve"/></div>
            <div class="col-sm-8">
                <h3> Article blabla </h1>
                texte standard de l'imprimerie depuis les années 1500
                , quand un peintre anonyme assembla ensemble des morceaux 
                de texte pour réaliser un livre spécimen de polices de texte.
                Il n'a pas fait que survivre cinq siècles simplement du faux texte
                employé dans la composition et la mise en page avant impression.
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis 
                les années 1500, quand un peintre anonyme assembla </br> simplement 
                du faux texte employé dans la composition et la mise en page avant
                
                et la mise en page avant </br></br>
               <button id="btn-signup" type="button" class="btn btn-warning"><i class="icon-hand-right"></i> &nbsp Modifier</button>
               <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Publier</button>
               </div>
            
        
            
        </div>
        </br></br>
    </div>
    
      <div class="col-sm-4"><img class="img-responsive" src="http://www.ouest-france.fr/sites/default/files/styles/image-640x360/public/2016/08/14/peronne-cup-du-beau-football-devant-plus-de-300-personnes-verson.jpg?itok=TIdEr4ve"/></div>
            <div class="col-sm-8">
                <h3> Article blabla </h1>
                texte standard de l'imprimerie depuis les années 1500
                , quand un peintre anonyme assembla ensemble des morceaux 
                de texte pour réaliser un livre spécimen de polices de texte.
                Il n'a pas fait que survivre cinq siècles simplement du faux texte
                employé dans la composition et la mise en page avant impression.
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis 
                les années 1500, quand un peintre anonyme assembla </br> simplement 
                du faux texte employé dans la composition et la mise en page avant
                
                et la mise en page avant </br></br>
               <button id="btn-signup" type="button" class="btn btn-warning"><i class="icon-hand-right"></i> &nbsp Modifier</button>
               <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Publier</button>
               </div>
      









{% endblock %}
