{% extends "::template.html.twig" %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Mes likes reçus ❤</h3>
                <br>
                <br>
            </div><!-- /col-sm-12 -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>96 personnes</strong> <span class="text-muted">aiment ce commentaire ❤</span>
                    </div>
                    <div class="panel-body">
                        Super article, heureusement que Sébastien et Alexandre sont là pour faire le back !
                        <br/>
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->

            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>496 personnes</strong> <span class="text-muted">aiment ce commentaire ❤</span>
                    </div>
                    <div class="panel-body">
                        Super article, heureusement que Sébastien et Alexandre sont là pour faire le back !
                        <br/>
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
        </div><!-- /row -->

        <div class="row">
            <div class="col-sm-12">
                <h3>Mes likes donnés ❤</h3>
                <br>
                <br>
            </div><!-- /col-sm-12 -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Jean Kevin</strong> <span class="text-muted">le 11 septembre</span>
                    </div>
                    <div class="panel-body">
                        Super article, heureusement que Sébastien et Alexandre sont là pour faire le back !
                        <br/>
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->

            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Abdel Babybel</strong> <span class="text-muted">le 14 août</span>
                    </div>
                    <div class="panel-body">
                        Super article, heureusement que Sébastien et Alexandre sont là pour faire le back !
                        <br/>
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
        </div><!-- /row -->

    </div><!-- /container -->

{% endblock %}
